
    <div class="card shadow-sm h-100">
        <img src="{{product.pictureUrl}}" alt="{{product.name}}">
      <div class="card-body">
          <a href="#">
              <h6 class="text-uppercase img-fluid bg-light">{{product.name}}</h6>
          </a>
          <span class="mb-1">{{product.price | currency}}</span>
        
          <div class="btn-group mt-3">
            <button type="button" class="btn btn-sm btn-outline-secondary ms-2 me-2">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary fa fa-shopping-cart"></button>
          </div>
    
        </div>
    
    </div>
